<div class="container">
    <form class="formulario" #form="ngForm">
        <input placeholder="Nombre" type="text"  [(ngModel)]="usuario.nombre" [ngModelOptions]="{standalone: true}"/>
        <input placeholder="Apellido" [(ngModel)]="usuario.apellido" [ngModelOptions]="{standalone: true}" />
        <input placeholder="Telefono" [(ngModel)]="usuario.telefono" [ngModelOptions]="{standalone: true}" />
        <input placeholder="Correo" type="email"  [(ngModel)]="usuario.correo" [ngModelOptions]="{standalone: true}" />
       
         <button mat-raised-button color="primary"(click)="crearUsuario()">Crear</button>
        
    </form>

</div>
<!-- <button mat-raised-button color="primary">Primary</button> -->